body{
    background-color: white;
    box-sizing: border-box;
    margin: auto;
    width: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-5 {
    margin-top: 5%;
 }

body a {
    color: #000001;
}
body a:hover {
    color: rgb(53, 56, 83);
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;

}

header h1 a{
    color: rgb(53, 56, 83);
    text-decoration: none;
}

header h1{
    font-size: 3.5em;
}

nav{
    flex-grow: 2;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

nav ul li{
    list-style: none;
    margin: 2%;
    
}

nav ul li a{
    color: rgb(53, 56, 83);
    text-decoration: none;
    transition: 0.75s ease-in-out;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 110%;
}

nav ul li a:hover{
   border-top: 1px solid rgb(53, 56, 83);
   border-bottom: 1px solid rgb(53, 56, 83);
    
}


main h2{
    color: rgb(53, 56, 83);
}

main figure{

    float: left; 
    margin-left: 0px;
    box-sizing: content-box;
    width:50%;
}

main figure img{
    width: 70%;
}

main illustration{

    float: right; 
    margin-left: 25px;
    box-sizing: content-box;
    width: 40%;
}

main illustration img{
    width: 100%;
}

main ul{

    padding-left: 15px;
}



.main_txt{

    text-align: justify; 
    clear: both;
    margin-bottom: 2.5%;
}

footer{
    background-color: rgb(53, 56, 83);
    border-top: 2px;
    border: 2px solid white;
    height:65px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

hr{

    border: 1.25px solid rgb(53, 56, 83);
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-top: 2%;
}





@media screen and (min-width:850px){
    .main_txt{
        clear: none;
        margin-bottom: 5%;
    }
    
    main figure img{
        float:left;
    }

    header{
        flex-wrap: nowrap;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }